flow.json
[
    {
        "id": "f1a8b7e7c9a1b2c3",
        "type": "tab",
        "label": "IoT DHT11 Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "f1a8b7e7c9a1b2c3",
        "name": "DHT11 MQTT Input",
        "topic": "raspi5/sensor/dht11",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "function_split"
            ]
        ]
    },
    {
        "id": "function_split",
        "type": "function",
        "z": "f1a8b7e7c9a1b2c3",
        "name": "Split Temperature & Humidity",
        "func": "return [\n    { payload: msg.payload.temperature },\n    { payload: msg.payload.humidity }\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "temp_gauge"
            ],
            [
                "hum_gauge"
            ]
        ]
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "f1a8b7e7c9a1b2c3",
        "name": "Temperature Gauge",
        "group": "ui_group",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 130,
        "wires": []
    },
    {
        "id": "hum_gauge",
        "type": "ui_gauge",
        "z": "f1a8b7e7c9a1b2c3",
        "name": "Humidity Gauge",
        "group": "ui_group",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b5ff",
            "#00b5ff",
            "#00b5ff"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "credentials": {
            "user": "YOUR_USERNAME",
            "password": "YOUR_PASSWORD"
        }
    },
    {
        "id": "ui_group",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "ui_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
